main {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    align-items: center;
}

.title {
    text-align: center;
}

.number-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 50%;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: center;
    
}


.number-div {
    width: 20vw;
    height: 20vw;
    display: flex;
    border-radius: 50%;
    background-color: greenyellow;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}

.num-slider {
    margin-top: 25vh;
    padding-top: 5vh;
    text-align: center;
    display: grid;
    padding: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 75%;
}

.number-label {
    padding-right: 1vw;
    margin-top: 2vw;
}

.slider-container {
    position: relative;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    padding-right: 2vw;
    border-style: solid;
    border-color: black;
    border-width: 3 px;
}
/* CSS for the slider track */
.slider {
    top: 8px;
    width: 50%;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 3px;
    
}

/* CSS for the slider thumb */
.handle {
    width: 24px;
    height: 24px;
    background-color: #2196f3;
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    cursor: grab;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    margin-top: -9px;
}

/* CSS for the hover effect on the slider thumb */
.handle:hover {
    background-color: #1976d2;
}

/* CSS for the active/grabbing state of the slider thumb */
.handle:active {
    cursor: grabbing;
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

  
footer {
    text-align: center;
    display: block;
    margin-top: auto;
}