main {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: auto;
    align-items: center;
}

.number-container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 75%;
    padding-left: 10vw;
    padding-right: 10vw;
    
}


.number-div {
    width: 20vw;
    height: 20vw;
    display: flex;
    border-radius: 50%;
    background-color: greenyellow;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    
}